[submodule "blog-front"]
	path = blog-front
	url = https://github.com/greenpress/blog-front.git
[submodule "auth"]
	path = auth
	url = https://github.com/greenpress/authentication-service.git
[submodule "content"]
	path = content
	url = https://github.com/greenpress/content-service.git
[submodule "admin"]
	path = admin
	url = https://github.com/greenpress/admin-panel.git
[submodule "secrets"]
	path = secrets
	url = https://github.com/greenpress/secrets-service.git
[submodule "assets"]
	path = assets
	url = https://github.com/greenpress/assets-service.git
